/* BIEN ECRIRE LES CHEMINS CSS EN ENTIER ! */
/*  */

/* Reset CSS */

html {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

h1
{
font-size: 36px;
}
h2
{
font-size:24px;
}
 
h3
{
font-size:21px;
}

p {
    font-size: 16px;
}

/* Fin Reset CSS */

/* Header */

header {
    background-color: var(--color_btn);
    color: var(--color-text);
    padding: 10px;
    text-align: center;
}

/* Fin Header */

:root {
    --color_btn: #004C6C;
    --color_title: #1B3168;
    --color-text: #000000;
    --color_btn_navbarre: #5C73A0;
}