/* BIEN ECRIRE LES CHEMINS CSS EN ENTIER ! */
/*  */

/* Reset CSS */

html {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Epilogue";
}

:root {
    --color_btn: #004C6C;
    --color_title: #1B3168;
    --color-text: #000000;
    --color_btn_navbarre: #5C73A0;
}

h1 {
    font-size: 36px;
    color: var(--color_title);
}

h2 {
    font-size: 24px;
    color: var(--color_title);
}

h3 {
    font-size: 21px;
}

/*text*/
p {
    font-size: 16px;
}

@font-face {
    font-family: "Epilogue";
    src: url("font/Epilogue/Epilogue-VariableFont_wght.ttf") format("truetype");
}

/* Fin Reset CSS */

/* Header */


.header-container {
    width: 100%;
    margin: 0 auto;
}
.top{
    border-radius: 15px;
    background-color: #5C73A0;
    height: 25px;
    z-index: 5;
    margin:25px 40px 0 40px;
}
header {
    background-color: var(--color_btn);
    color: var(--color-text);
    margin: -15px 25px;
    border-radius: 15px;

}
header img{
    width: 250px;
    padding:5px 25px 15px 25px;
}
/* Fin Header */

/* Navbar */

nav {
    width: 300px;
    padding: 70px 20px 20px 20px;
}

.navBar nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navBar nav ul li {
    padding: 16px 0;
}

.navBar nav ul li a {
    text-decoration: none;
    color: var(--color_btn_navbarre);
    font-size: 16px;
    font-weight: 500;
}

/* FIN Navbar */